In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
label = ['馬名','性齢','斤量','厩舎','馬体重 (増減)','距離','タイム']

In [3]:
df = pd.read_csv('csv/Result/data_old.csv')

In [4]:
df = df[label]
df

              馬名  性齢    斤量     厩舎  馬体重 (増減)    距離     タイム
0      シュバルツガイスト  牡3  56.0   美浦国枝   486(-4)  1200  1:12.6
1      ジェイケイファイン  牡3  56.0   美浦奥平   472(-8)  1200  1:12.9
2          レディアス  牝3  54.0  美浦鈴木慎   428(+6)  1200  1:12.9
3      ハローマイラブリー  牝3  54.0   美浦伊坂    536(0)  1200  1:13.4
4      ベアカワイコチャン  牝3  54.0   美浦杉浦  478(+10)  1200  1:13.9
...          ...  ..   ...    ...       ...   ...     ...
12201       クロッチ  セ6  58.0   美浦杉浦   452(-4)  1400  1:26.0
12202   サクセスリボーン  牡6  58.0   栗東北出    512(0)  1400  1:26.2
12203  リファインドマナー  牝5  56.0  栗東杉山佳   446(-8)  1400  1:26.4
12204   ケルンコンサート  牡4  58.0   栗東森秀    464(0)  1400  1:29.2
12205   メイショウサトワ  牡5  58.0   栗東大橋   512(-8)  1400  1:29.4

[12206 rows x 7 columns]

In [5]:
def encode_categorical(df,cols):
    for col in cols:
        le = LabelEncoder()
        not_null = df[col][df[col].notnull()]
        df[col] = pd.Series(le.fit_transform(not_null),index=not_null.index)
    return df

In [6]:
df_encoded = encode_categorical(df,cols=['馬名','性齢','厩舎','馬体重 (増減)','タイム'])
df_encoded.dropna(inplace=True)
df_encoded

         馬名  性齢    斤量   厩舎  馬体重 (増減)    距離    タイム
0      2326  19  56.0  131     883.0  1200   99.0
1      2463  19  56.0  139     713.0  1200  102.0
2      6367  10  54.0  197     257.0  1200  102.0
3      4123  10  54.0  116    1388.0  1200  107.0
4      4906  10  54.0  158     765.0  1200  112.0
...     ...  ..   ...  ...       ...   ...    ...
12201  1509   5  58.0  158     500.0  1400  228.0
12202  1962  22  58.0   21    1170.0  1400  230.0
12203  6081  12  56.0   53     435.0  1400  232.0
12204  1679  20  58.0   62     625.0  1400  260.0
12205  5533  21  58.0   32    1169.0  1400  262.0

[12118 rows x 7 columns]

In [7]:
X = df_encoded[['馬名','性齢','斤量','厩舎','馬体重 (増減)','距離']]
y = df['タイム']
X

         馬名  性齢    斤量   厩舎  馬体重 (増減)    距離
0      2326  19  56.0  131     883.0  1200
1      2463  19  56.0  139     713.0  1200
2      6367  10  54.0  197     257.0  1200
3      4123  10  54.0  116    1388.0  1200
4      4906  10  54.0  158     765.0  1200
...     ...  ..   ...  ...       ...   ...
12201  1509   5  58.0  158     500.0  1400
12202  1962  22  58.0   21    1170.0  1400
12203  6081  12  56.0   53     435.0  1400
12204  1679  20  58.0   62     625.0  1400
12205  5533  21  58.0   32    1169.0  1400

[12118 rows x 6 columns]

In [8]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.2, random_state=77)

In [9]:
clf = RandomForestClassifier(random_state=77)
clf.fit(X_train, y_train)
pred = clf.predict(X_test)
accuracy = accuracy_score(y_test, pred)

In [10]:
accuracy

0.019801980198019802